* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  min-width: max-content;
}

a {
  text-decoration: none;
  color: inherit; 
}

.header {
  display:flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 80%;
  font-weight: lighter;
  padding: 10px;
  background-color: rgb(7, 0, 50);
  color: cadetblue;
}

.header h1{
  font-size: 33px;
  font-weight: lighter;
}

.navbar {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.navbar-list {
  animation: slideInRight 0.3s ease-in;
}

.hamburger {
  display: none
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 500px) {
  .header {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .hamburger {
    display: flex;
    background: transparent;
    font-size: 33px;
    border: none;
    outline: none;
    color: cadetblue;
  }

  .navbar {
    display: none;
  }
}
