* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  min-width: max-content;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 80%;
  font-weight: lighter;
  padding: 10px;
  background-color: rgb(7, 0, 50);
  color: cadetblue;
}

.header h1 {
  font-size: 33px;
  font-weight: lighter;
}

.navbar {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.navbar a {
  display: flex;
  padding: 5px;
}

.hamburger {
  display: none
}

.navbar-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 10% 0px 170% 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  top: 0;
  height: 100%;
  width: 50%;
  background: linear-gradient(to bottom, rgba(15, 0, 58, 0.836), rgba(0, 0, 0, 0.926));
  color: cadetblue;
  border: none;
  backdrop-filter: blur(7px);
  transition: transform 0.5s ease-in-out;
  transform: translateX(101%);
}

.navbar-list a{
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-list span{
  padding-top: 50px;
}

.nav-active {
  display: flex;
  padding: 5px;
  border-bottom: 0.5px solid rgba(95, 158, 160, 0.634);
}

.show-sidebar {
  transform: translateX(200%);
}

@media (max-width: 500px) {
  .navbar {
    display: none;
  }

  .header {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .hamburger {
    display: flex;
    background: transparent;
    font-size: 33px;
    border: none;
    outline: none;
    color: cadetblue;
  }
}