* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: black; */
}

#root {
  min-width: max-content;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.projects-video {
  filter: blur(3px) brightness(30%);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  margin: -2px;
}

a {
  text-decoration: none;
  color: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 80%;
  font-weight: lighter;
  padding: 10px;
  background-color: rgba(18, 11, 59, 0.504);
  backdrop-filter: blur(7px);
  color: rgba(0, 255, 170, 0.85);
}

.header * {
  background-color: transparent;
}

.header h1 {
  font-size: 33px;
  font-weight: lighter;
}

.header-title {
  padding-left: 30px;
}

.navbar {
  display: flex;
  width: 50%;
  justify-content: space-around;
  max-width: 600px;
}

.navbar a {
  display: flex;
  padding: 5px;
  font-size: 16px;
}

.hamburger {
  display: none
}

.navbar-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 10% 0px 170% 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  top: 0;
  height: 100%;
  width: 50%;
  background: linear-gradient(to bottom, rgba(15, 0, 58, 0.421), rgba(0, 0, 0, 0));
  color: cadetblue;
  border: none;
  backdrop-filter: blur(10px);
  transition: transform 0.5s ease-in-out;
  transform: translateX(101%);
  z-index: 9999;
}

.navbar-list * {
  background-color: transparent;
}

.navbar-list a {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-list span {
  padding-top: 50px;
}

.nav-active {
  display: flex;
  padding: 5px;
  border-bottom: 0.5px solid rgba(95, 158, 160, 0.634);
}

.show-sidebar {
  transform: translateX(200%);
}

.home-content {
  display: flex;
  align-items: center;
  background-color: rgba(7, 255, 152, 0);
  justify-content: space-between;
  height: 88vh;
  width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&family=Raleway:wght@100;700&display=swap');

.home-text {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  height: 90%;
  width: 60%;
  background-color: rgba(7, 44, 255, 0);
  font-family: 'Raleway', sans-serif;
  font-size: 200%;
  font-weight: lighter;
  color: rgba(0, 255, 170, 0.85);
  z-index: 99;
}

.home-text h1 {
  background-color: transparent;
}

.home-text p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-color: transparent;
}

.avatar {
  display: flex;
  align-items: center;
  filter: brightness(77%);
  margin-right: 10%;
  height: 70%;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.782);
  border-radius: 50%;
  position: fixed;
  right: 0;
  height: 70vh;
}

.projects-button {
  display: flex;
  padding: 10px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  cursor: pointer;
  background: rgba(87, 234, 136, 0.708);
  color: black;
  width: 130px;
}

.developing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: #408755;
  margin-top: 10vh;
  z-index: 99999;
}

.developing h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.loading-dots {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.dot {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #408755;
  animation: loading-animation 1.5s infinite;
}

@keyframes loading-animation {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

.img-programming {
  position: fixed;
  top: 130px;
  width: 500px;
  filter: contrast(1.4);
  margin-top: 100px;
  border-radius: 30%;
  opacity: 0.7;
  z-index: -1;
}

@media (max-width: 500px) {
  .navbar {
    display: none;
  }

  .header {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .hamburger {
    display: flex;
    background: transparent;
    font-size: 33px;
    border: none;
    outline: none;
    color: rgb(88, 160, 125);
  }

  .home-content {
    flex-direction: column;
  }

  .avatar {
    padding-top: 10px;
    padding-bottom: 15px;
    height: 40%;
    position: inherit;
    margin-right: 0;
  }

  .home-text {
    font-size: 100%;
    width: 80%;
    margin-left: 0;
    margin-right: 10px;
  }

  .img-programming {
    width: 270px;
    margin-top: 50px;
  }

  .developing {
    margin-top: 50px;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .avatar {
    margin-right: -15%;
  }
}